@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700&display=swap');


:root {
  /* Typography */
  --family: 'Urbanist', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-xl: 18px;
  --fs-2xl: 24px;
  --fw-regular: 500;
  --fw-normal: 600;
  --fw-bold: 700;

  /* Colors */
  --colors-text-black: #212121;
  --colors-text-grey: #424242;
  --colors-text-light: #757575;
  --colors-orange: #FB9400;
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);

  /* Other */
  --radii: 0.5rem;
  --shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);

}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-regular);
  background-color: var(--colors-bg);
}
